{% extends 'base.html' %}
{% block title %}
Passwords
{% endblock title %}

{% block content %}
<body> 
<div style="padding-top: 15px;"></div>
<div style="text-align: right; margin-right: 35px;">
  <a href="{{ url_for('addpassword') }}">
     <input type="button" class="text-center shadow-lg p-2 mb-0 rounded btn btn-dark" value="Add a Password"/>
  </a>
 </div>
 
<h2 class="text-center mb-5">Your Passwords</h2>
<table style="width: 100%; border-collapse: collapse; color: black; margin-top: 35px;">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Credentials</th>
        </tr>
    </thead>
    <tbody>
        {% for credential in credentials %}
        <tr style="background-color: white; border: 1px solid #ddd; padding: 10px 0;">
            <td>{{ credential.account_name }}</td>
            <td>{{ credential.encrypted_password }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
{% endblock content %}
</html>
